.beer-photo {
  display: inline-block;
  width:140px;
/*  max-height:140px;*/
  float:left;
}

.profile-pic {
  float:left;
}

.top-info {
  display: inline-block;
  margin-left: 10px;
}

.word {
  font-size: 24px;
}

.words {
  display: inline-block;
  margin-left: 10px;
}

.exbeer {
  padding: 20px 0;
  margin: 0;
}

.button {
  margin-top:10px;
  float:right;
}

.thumbnail {
  border:none;
  box-shadow:none;
}

.favorite-icon {
  width:16px;
}

.favorite-person {
  width:16px;
  margin-right:3px;
}

.exbeer {
/*  border: 1px solid black;*/
}

.divider {
  border-bottom: 1px solid #777;
}